*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

header{
    background:#333;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:#f4f4f4;
}

.hero h2{
    font-size:40px;
}

.hero button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#333;
    color:white;
    cursor:pointer;
}

section{
    padding:60px 20px;
    text-align:center;
}

.product-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.product-card{
    width:300px;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
}

.product-card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.product-card h3{
    margin:10px 0;
}

.product-card p{
    padding-bottom:20px;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}
.whatsapp-float{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px 20px;
    border-radius:50px;
    text-decoration:none;
    font-weight:bold;
}
.hero{
    background-image:url("luxury sofa.jpeg");
    background-size:cover;
    background-position:center;
    color:white;
    padding:120px 20px;
}
